* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  min-width: 708px;
  width: calc(100% - 708px * 2);
  text-align: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
}
.calendar * {
  position: relative;
  height: 100px;
  width: 100px;
  background-color: #eee;
  margin: 0 0 1px 1px;
  border: 1px solid black;
  transition: 0.5s;
}
.calendar *:hover {
  cursor: pointer;
  background-color: pink;
  transform: translate(0, -20px);
}

.calendar *:nth-child(1)::before {
  position: absolute;
  content: "1";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(2)::before {
  position: absolute;
  content: "2";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(3)::before {
  position: absolute;
  content: "3";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(4)::before {
  position: absolute;
  content: "4";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(5)::before {
  position: absolute;
  content: "5";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(6)::before {
  position: absolute;
  content: "6";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(7)::before {
  position: absolute;
  content: "7";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(8)::before {
  position: absolute;
  content: "8";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(9)::before {
  position: absolute;
  content: "9";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(10)::before {
  position: absolute;
  content: "10";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(11)::before {
  position: absolute;
  content: "11";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(12)::before {
  position: absolute;
  content: "12";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(13)::before {
  position: absolute;
  content: "13";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(14)::before {
  position: absolute;
  content: "14";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(15)::before {
  position: absolute;
  content: "15";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(16)::before {
  position: absolute;
  content: "16";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(17)::before {
  position: absolute;
  content: "17";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(18)::before {
  position: absolute;
  content: "18";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(19)::before {
  position: absolute;
  content: "19";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(20)::before {
  position: absolute;
  content: "20";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(21)::before {
  position: absolute;
  content: "21";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(22)::before {
  position: absolute;
  content: "22";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(23)::before {
  position: absolute;
  content: "23";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(24)::before {
  position: absolute;
  content: "24";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(25)::before {
  position: absolute;
  content: "25";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(26)::before {
  position: absolute;
  content: "26";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(27)::before {
  position: absolute;
  content: "27";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(28)::before {
  position: absolute;
  content: "28";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(29)::before {
  position: absolute;
  content: "29";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(30)::before {
  position: absolute;
  content: "30";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar *:nth-child(31)::before {
  position: absolute;
  content: "31";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.calendar-28 *:nth-last-child(-n+3) {
  display: none;
}

.calendar-29 *:nth-last-child(-n+2) {
  display: none;
}

.calendar-30 *:nth-last-child(-n+1) {
  display: none;
}

.calendar-31 *:nth-last-child(-n+0) {
  display: none;
}

.calendar-mon *:first-child {
  margin-left: 1px;
}

.calendar-tue *:first-child {
  margin-left: 102px;
}

.calendar-wed *:first-child {
  margin-left: 203px;
}

.calendar-thu *:first-child {
  margin-left: 304px;
}

.calendar-fri *:first-child {
  margin-left: 405px;
}

.calendar-sat *:first-child {
  margin-left: 506px;
}

.calendar-sun *:first-child {
  margin-left: 607px;
}

/*# sourceMappingURL=styles.css.map */
